# Python Basics
## Topics Covered:
- Syntax and Semantics
- Variables and Data Types
- Basic Operators (Arithmetic, Comparison, Logical)

## 1. Syntax and Semantics

**Question 1:** Write a Python program to print "Hello, World!".

In [ ]:
# Your code here
print("Hello, World!")

Hello, World!

**Question 2:** Write a Python program that takes a user input and prints it.

In [ ]:
# Your code here
name=input("Enter your name:")
print("Hi,",name)

Enter your name:Anusha
Hi, Anusha

**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [ ]:
# Your code here
num=int(input("Enter a number:"))
if num>0:
    print("Number is positive")
elif num<0:
    print("Number is negative")
else:
    print("Number is zero")

Enter a number:17
Number is positive

**Question 4:** Write a Python program to find the largest of three numbers.

In [ ]:
# Your code here
num1=int(input("Enter 1st number:"))
num2=int(input("Enter 2nd number:"))
num3=int(input("Enter 3rd number:"))
if num1>num2 and num1>num3:
    print(num1,"is the largest number")
elif num2>num1 and num2>num3:
    print(num2,"is the largest number")
else:
    print(num3,"is the largest number")

Enter 1st number:45
Enter 2nd number:17
Enter 3rd number:18
45 is the largest number

**Question 5:** Write a Python program to calculate the factorial of a number.

In [ ]:
# Your code here
num=int(input("Enter a number:"))
fact=1
for i in range(1,num+1):
    fact=fact*i
print(fact)

Enter a number:17
355687428096000

## 2. Variables and Data Types

**Question 6:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [ ]:
# Your code here
my_int=10
my_float=10.5
my_str="Hello"
my_bool=True
print(my_int,type(my_int))
print(my_float,type(my_float))
print(my_str,type(my_str))
print(my_bool,type(my_bool))

10 <class 'int'>
10.5 <class 'float'>
Hello <class 'str'>
True <class 'bool'>

**Question 7:** Write a Python program to swap the values of two variables.

In [ ]:
# Your code here
num1=int(input("Enter 1st number:"))
num2=int(input("Enter 2nd number:"))
temp=num1
num1=num2
num2=temp
print("num1=",num1)
print("num2=",num2)

Enter 1st number:17
Enter 2nd number:18
num1= 18
num2= 17

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [ ]:
# Your code here
celsius=float(input("Celsius:"))
fahrenheit=(celsius*9/5)+32
print("Fahrenheit:",fahrenheit)

Celsius:45
Fahrenheit: 113.0

**Question 9:** Write a Python program to concatenate two strings.

In [ ]:
# Your code here
str1=input("1st string:")
str2=input("2nd string:")
print(str1 + str2)

1st string:Vasavi
2nd string:Anusha
Vasavi Anusha

**Question 10:** Write a Python program to check if a variable is of a specific data type.

In [ ]:
# Your code here
str="Anu"
print(isinstance(str,int))

False

## 3. Basic Operators (Arithmetic, Comparison, Logical)

**Question 11:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [ ]:
# Your code here
num1=int(input("1st number:"))
num2=int(input("2nd number:"))
print("Addition:",num1+num2)
print("Subtraction:",num1-num2)
print("Multiplication:",num1*num2)
print("Division:",num1/num2)

1st number:45
2nd number:17
Addition: 62
Subtraction: 28
Multiplication: 765
Division: 2.6470588235294117

**Question 12:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

In [ ]:
# Your code here
num1=int(input("1st number:"))
num2=int(input("2nd number:"))
print(num1==num2)
print(num1!=num2)
print(num1>num2)
print(num1<num2)

1st number:17
2nd number:18
False
True
False
True

**Question 13:** Write a Python program to demonstrate logical operators: and, or, not.

In [ ]:
# Your code here
num1=int(input("1st number:"))
num2=int(input("2nd number:"))
print(num1>0 and num2>0)
print(num1>0 or num2>0)
print(not(num1>0))

1st number:45
2nd number:18
True
True
False

**Question 14:** Write a Python program to calculate the square of a number.

In [ ]:
# Your code here
num=int(input("Enter a number:"))
print("Square:",num**2)

Enter a number:17
Square: 289

**Question 15:** Write a Python program to check if a number is even or odd.

In [ ]:
# Your code here
num=int(input("Enter a number:"))
if num%2==0:
    print("Number is even")
else:
    print("Number is odd")

Enter a number:45
Number is odd

**Question 16:** Write a Python program to find the sum of the first n natural numbers.

In [ ]:
# Your code here
num=int(input("Enter a number:"))
sum=0
for i in range(1,num+1):
    sum=sum+i
print("Sum:",sum)

**Question 17:** Write a Python program to check if a year is a leap year.

In [ ]:
# Your code here
num=int(input("Enter a year:"))
if num%4==0:
    print("Leap year")
else:
    print("Not a leap year")

Enter a year:2024
Leap year

**Question 18:** Write a Python program to reverse a string.

In [ ]:
# Your code here
str=input("Enter a string:")
print(str[::-1])

Enter a string:MadaM
MadaM

**Question 19:** Write a Python program to check if a string is a palindrome.

In [1]:
# Your code here
str=input("Enter a string:")
if str==str[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string:ANUSHA
Not a palindrome

**Question 20:** Write a Python program to sort a list of numbers in ascending order.

In [2]:
# Your code here
num=[45,17,18,8,30]
num.sort()
print(num)

[8, 17, 18, 30, 45]