# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
num = tuple(range(1, 11))
print(num)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [3]:
print(f'first: {num[0]}')
print(f'middle: {num[len(num) // 2]}')
print(f'last: {num[-1]}')

first: 1
middle: 6
last: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [30]:
print(f'first 3 elements: {numbers[0:3]}')
print(f'last 3 elements: {numbers[-3:]}')
print(f'elements from index 2 to 5: {numbers[2:6]}')

first 3 elements: (1, 2, 3)
last 3 elements: (8, 9, 10)
elements from index 2 to 5: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [7]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9))
for row in matrix:
    print(row)
num = matrix[1][2]
print("Second row third coloumn:",num)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Second row third coloumn: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [8]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

result = tuple1 + tuple2

print(result)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [10]:
del tuple

In [ ]:
tuple = (17, 45, 30, 18, 13, 18, 15,)
count = tuple.count(18)
index = tuple.index(18)

print("Tuple:", tuple)
print("Count of 18:", count)
print("index of 18:", index)

Tuple: (17, 45, 30, 18, 13, 18, 15)
Count of 18: 2
index of 18: 3

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [18]:
del tuple

In [20]:
tuple = (45, 17, 18, 13, 30)

a, b, c, d, e = tuple

print("Unpacked variables:")
print("a:", a)
print("b:", b)
print("c:", c)
print("d:", d)
print("e:", e)

Unpacked variables:
a: 45
b: 17
c: 18
d: 13
e: 30

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [22]:
del tuple

In [23]:
list = [1, 2, 3, 4, 5]

tuple_list = tuple(list)

print(tuple_list)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [25]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 29))

print("Tuples:")
print(matrix)

Tuples:
((1, 2, 3), (4, 5, 6), (7, 8, 29))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [36]:
num = (1, 2, 3, 4, 5)
num_list = list(num)
num_list.append(6)
result = tuple(num_list)

print(result)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [39]:
text = "Anusha"
char_tuple = tuple(text)
join_string = ''.join(char_tuple)
print("Tuple:", char_tuple)
print("Joined string:", join_string)

Tuple: ('A', 'n', 'u', 's', 'h', 'a')
Joined string: Anusha

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [40]:
my_dict = {
    (1, 2): 30,
    (3, 4): 50,
    (5, 6): 70
}

print("Dictionary with tuple keys:")
print(my_dict)

Dictionary with tuple keys:
{(1, 2): 30, (3, 4): 50, (5, 6): 70}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [ ]:
nested_tuple = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("Nested Tuple:")
for row in nested_tuple:
    for item in row:
        print(item)

Nested Tuple:
1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [44]:
num = (17, 2, 2, 3, 4, 4, 5)
unique = set(num)
print("Set with duplicates:", num)
print("Set without duplicates:", unique)

Set with duplicates: (17, 2, 2, 3, 4, 4, 5)
Set without duplicates: {2, 3, 4, 5, 17}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [47]:
def get_min(t):
    return min(t)

def get_max(t):
    return max(t)

def get_sum(t):
    return sum(t)

tuple = (10, 25, 7, 40, 18)

print("Tuple:", tuple)
print("Minimum:", get_min(tuple))
print("Maximum:", get_max(tuple))
print("Sum:", get_sum(tuple))

Tuple: (10, 25, 7, 40, 18)
Minimum: 7
Maximum: 40
Sum: 100