# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

In [1]:
num = list(range(1, 21))
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

In [3]:
num=list(range(1,21))
print(num[0])
print(num[len(num) // 2 -1])
print(num[-1])

First element: 1
Middle element: 10
Last element: 20

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [4]:
num=list(range(1,21))
print(num[:5])
print(num[-5:])
print(num[5:16])

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [6]:
num = [n**2 for n in range(1,11)]
print(num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [7]:
num = list(range(1,21))
even = [n for n in num if n % 2 == 0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [15]:
num = [45,17,18,8,13,30,17,45]
num = list(dict.fromkeys(num))
print("Remove Duplicates:")
print(num)
num.sort()
print("Ascending Order:")
print(num)
num.sort(reverse=True)
print("Decending Order:")
print(num)

Remove Duplicates:
[45, 17, 18, 8, 13, 30]
Ascending Order:
[8, 13, 17, 18, 30, 45]
Decending Order:
[45, 30, 18, 17, 13, 8]

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [16]:
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]
print(matrix)
element = matrix[1][2]
element

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

6

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [17]:
students = [
    {'name': 'Anusha', 'score': 95},
    {'name': 'Sumanth', 'score': 92},
    {'name': 'Gupta', 'score': 88},
    {'name': 'Harshitha', 'score': 85},
    {'name': 'Alekhya', 'score': 78}
]

sort = sorted(students, key=lambda x: x['score'], reverse=True)

sort

[{'name': 'Anusha', 'score': 95},
 {'name': 'Sumanth', 'score': 92},
 {'name': 'Gupta', 'score': 88},
 {'name': 'Harshitha', 'score': 85},
 {'name': 'Alekhya', 'score': 78}]

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [20]:
def transpose_matrix(matrix):

  matrix = [[1, 2, 3],
            [4, 5, 6],
            [7, 8, 9]]

  transposed = [[0 for _ in range(len(matrix))] for _ in range(len(matrix[0]))]
  for i in range(len(matrix)):
    for j in range(len(matrix[0])):
      transposed[j][i] = matrix[i][j]
  return transposed

print("Original Matrix:")
for row in matrix:
  print(row)

transposed_matrix = transpose_matrix(matrix)

print("\nTransposed Matrix:")
for row in transposed_matrix:
  print(row)

Original Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

Transposed Matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [24]:
def flatten(nested):
    flattened = [item for n in nested for item in n]
    return flattened

nested = [[17, 45], [18, 12], [13, 30]]

flattened = flatten(nested)

print("Original :", nested)
print("Flattened:", flattened)

Original : [[17, 45], [18, 12], [13, 30]]
Flattened: [17, 45, 18, 12, 13, 30]

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [25]:
list = list(range(1, 11))
print("Original list:", list)

remove = [6, 4, 2]
for index in remove:
    list.pop(index)

list.insert(5, 99)

print("Modified list:", list)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Modified list: [1, 2, 4, 6, 8, 99, 9, 10]

In [35]:
del list

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [37]:
list1 = ['Sumanth', 'Anusha', 'Gupta']
list2 = [45, 17, 18]
result = list(zip(list1, list2))
print(result)

[('Sumanth', 45), ('Anusha', 17), ('Gupta', 18)]

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [41]:
def reverse(input):
  original= [1, 2, 3, 4, 5]
  return input[::-1]
  reversed= reverse(original)
print("Original List:", original)
print("Reversed List:", reversed)

Original List: [1, 2, 3, 4, 5]
Reversed List: [5, 4, 3, 2, 1]

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

In [54]:
def rotate_list(a, n):
    rotated = a[n:] + a[:n]
    print("Original:", a)
    print("Rotated:", rotated)

rotate_list([17, 45, 18, 13, 30,8], 2)

Original: [17, 45, 18, 13, 30, 8]
Rotated: [18, 13, 30, 8, 17, 45]

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [57]:
def intersection(list1, list2):
    return list(set(list1) & set(list2))
a = [1, 2, 3, 4, 5]
b = [4, 5, 6, 7]
result = intersection(a, b)
print("List 1:", a)
print("List 2:", b)
print("Intersection:", result)

List 1: [1, 2, 3, 4, 5]
List 2: [4, 5, 6, 7]
Intersection: [4, 5]